{% extends "base.html" %}

{% block announce %}
  <style>.md-banner a,.md-banner a:focus,.md-banner a:hover{color:currentColor}.md-banner strong{white-space:nowrap}.md-banner .twitter{margin-left:.2em;color:#00acee}</style>
  <div align="center">Curious? 🤨 <A HREF='https://store.elfhosted.com'>Get a 7-day free trial of an infinite streaming bundle</A>! 🎉<BR/>
  <!-- <div align="center">Get up to 33% off with our <A HREF='https://store.elfhosted.com'>Black Friday / Cyber Monday deals</A>! 🎉<BR/> -->
{% endblock %}

<!-- Add little penguin ascii-art to titles instead of 20-character-long site name -->
{% block htmltitle %}
  {% if page.meta and page.meta.title %}
  <title>{{ page.meta.title }} | ElfHosted</title>
  {% elif page.title and not page.is_homepage %}
  <title>{{ page.title | striptags }} | ElfHosted</title>
  {% else %}
  <title>{{ config.site_name }}</title>
  {% endif %}
{% endblock %}

{% block analytics %}
<script src="/js/i-am-groot.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
{% endblock %}

{% block extrahead %}

<script async data-uid="ee6c56eba4" src="https://funkypenguin.ck.page/ee6c56eba4/index.js"></script>

{% endblock %}