:root {
    --md-primary-fg-color:        #651A0A;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #651A0A;

    --md-primary-bg-color:        #fff8ee;
    --md-primary-bg-color--light: #EFD89D;
  
    --md-accent-fg-color:                hsla(#{hex2hsl($clr-indigo-a200)}, 1);
    --md-accent-fg-color--transparent:   hsla(#{hex2hsl($clr-indigo-a200)}, 0.1);
    --md-accent-bg-color:                #651A0A;
    --md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7);

  }
  

