:root {
    --md-primary-fg-color:        #3A2418;
    --md-primary-fg-color--light: #A77A36;
    --md-primary-fg-color--dark:  #bcef55;

    --md-primary-bg-color:        #FAF5F0;
    --md-primary-bg-color--light: #c637d9;
  
    --md-accent-fg-color:                blue;
    --md-accent-fg-color--transparent:   purple;
    --md-accent-bg-color:                #651A0A;
    --md-accent-bg-color--light:         green;

  }
  

